<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample Admin -- @ViewBag.Title</title>
    <link rel="stylesheet" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" href="../../Content/bootstrap-theme.css" />
    <meta name="robots" content="nofollow">
    <link href="../../Content/admin.css" rel="stylesheet" />
    @RenderSection("header", required: false)
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse">
            <a class="navbar-brand" href="#">Sample <small>Admin</small></a>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#">News</a></li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="../../Scripts/json2.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/jquery.validate.js"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
