@model dynamic

@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <section class="hgroup">
        <div class="container">
            <h1>Hata oluştu</h1>
            <ul class="breadcrumb pull-right"></ul>
        </div>
    </section>

    <section class="call_to_action four-o-four">
        <div class="container">
            <i class="fa fa-bullhorn"></i>
            
        </div>
    </section>
</div>